
.title {
  text-align: center;
  margin: 20px 0px 60px 0px;
}

.display {
display: block;
}

.btnSpec {
  height: 10px;
  width: 70px;
  margin-top: 6px;
  margin-left: 15px;
}


.addBtn{
  font-size: 8px;
  cursor: pointer;
  margin-left: -8px;
  margin-top: -6px;
}

.fa-plus {
  margin-left: 10px;
}

.deck-image {
  cursor: pointer;
  float: left;
  margin-top:18px;
}

.deck-image:hover {
  opacity: 0.2;
}

