.fixed {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.card_type {
  float: right;
  border: 1px solid;
  padding: 0px 15px 0px 15px;
  margin: 5px 0px -5px 0px;
}

.center {
  position: absolute;
  top: 25%;
  left: 40%;
  margin-left: -50px;
  margin-top: -25px;
  width: 250px;
}
