<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <table class="table table-striped table-hover pointer">
        <tbody>
          <tr *ngFor="let card of newDeck">
            <td (click)="selectCard(card)">
              {{ card.name }}
              <br>
              <small class="card_type"> {{ card.card_type | titlecase}}</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-10">
      <h4 *ngIf="!selectedCard" class="center pointer">
        {{information}}
      </h4>
      <app-cards *ngIf="selectedCard" [selectedCard]="selectedCard" [selectedDeckCards]="selectedDeckCards" (addedCard)="addCard($event)"
        (deletedCard)="deleteCard($event)"></app-cards>
    </div>
  </div>
</div>
